/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 22, 2024, 4:14:17 PM
    Author     : Abidine
*/

/* style.css */
.text-field {
    -fx-max-width: 200px; /* Adjust width as needed */
    -fx-pref-height: 25px; /* Adjust height as needed */
}


.text-field .text {
    -fx-max-width: 13ch; /* Set the maximum width to fit 13 characters */
    -fx-background-color: white; /* Background color */
}

.text-field .text > .caret {
    -fx-fill: black; /* Caret color */
}

.text-field .text > .selection {
    -fx-fill: transparent; /* Selection color */
}

.text-field:focused .text {
    -fx-background-color: white; /* Background color when focused */
}

.text-field .text:error {
    -fx-background-color: pink; /* Background color when exceeding character limit */
}